/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.main-box-pageNotFound{
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 170px;
    padding-bottom: 10px;
}

.main-box-pageNotFound p{
    color:#999
}


.main-box-pageNotFound img{
    max-width: 100%;
    width: 400px;
    height: auto;
    margin: 20px auto 0;
}

.main-box-pageNotFound .goHom-box{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 50px;
}

.main-box-pageNotFound #goHome{
    display: block;
    color: white;
    background-color: #B30415;
    border-radius: 30px;
    width: 140px;
    min-width: 140px;
    height: 50px;
    font-size: 1em;
    text-align: center;
    padding: 10px;
    padding-top: 13px;
    outline: none;
    border: none;
    cursor: pointer;
}