.main-header{
    height: auto;
}

.wrapper_ h2{
    line-height: 18;
    position: absolute;
}

.wrapper_{
    height: 550px;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.wrapper_ img{
    max-height: 100%;
    width: 100%;
    opacity: 0.65;
    object-fit: cover;
}

.mar-top{
    margin-top: 60px;
}

.mar-top h3::after{
    content: '';
    border-bottom: 6px solid #B30415;
    display: block;
    width: 150px;
    margin-top: 8px;
}

.movies-box div{
    margin-bottom: 15px;
    margin-left:auto;
    margin-right:auto;
}


.movies-box .box-poster{
    display: flex !important;
    box-shadow: 0 10px 20px rgba(0,0,0,0.35), 0 6px 6px rgba(0,0,0,0.25);
    border-radius: 10px;
    width: 190px;
    height: 250px;
    overflow: hidden;
	-webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    position: relative;
}



.movies-box .box-poster .light-hov{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.568);
    width: 200px;
    height: 480px;
    transform: rotate(-45deg);
    transition: .4s all ease-in-out;
    pointer-events: none;
    top: -425px;
    left: 70px;
}

.movies-box .box-poster:hover .light-hov{
    top: 245px;
    left: -50px;
}

.movies-box .box-poster img{
    border-radius: 10px;
    width: 100%;
    height: auto;
    object-fit: cover;
    max-width: initial;
    
}

.movies-box .data-box{
    width: 190px;
}

.movies-box .line2-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.movies-box .movie-date{
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 13px;
    color: #999999;
    letter-spacing: 0.5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.movies-box .line2-box .movie-name{
    color: #fff;
    font-size: 17px;
    width: 65%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.movies-box .line2-box .movie-rate{
    font-size: 12px;
    color: #b30415;
    background-color: #fff;
    border-radius: 50px;
    padding: 1px 7px;
    height: 20px;
    margin-top: 3px;
}

.movies-box .line2-box .movie-rate span{
    color:#b30415;
}

.no_similar_movies_box{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.no_similar_movies_box img{
    max-width: 100%;
    width: 400px;
    height: auto;
    margin: 20px auto 0;
}

/* responsive -------------------------------------------*/

@media screen and (max-width:767px){
    .wrapper_{
        height: 400px;
    }
    .wrapper_ img{
        width: 180%;
    }
    .wrapper_ h2{
        font-size: 25px;
    }
    .pagination li {
        padding: 7px 17px;
    }
    .movies-box .box-poster{
        width: 250px;
        height: 375px;
    }
    .movies-box .data-box{
        width: 250px;
    }
    .movies-box .box-poster .light-hov{
        display: none;
    }
    .movies-box .line2-box .movie-name{
        font-size: 16px;
    }
}

@media (min-width:440px){
    .movies-box .box-poster:hover{
        box-shadow: 0 12px 28px rgba(0,0,0,0.50), 0 12px 28px rgba(0,0,0,0.20);
        -webkit-transform: rotate(3deg) scale(1.05);
          transform: rotate(3deg) scale(1.05);
    }
}

@media (min-width:767px) and (max-width:775px){
    .movies-box .line2-box .movie-name{
        width: 63%;
    }
}

@media (min-width:767px) and (max-width:991px){
    .wrapper_{
        height: 450px;
    }
    .movies-box .line2-box .movie-name{
        font-size: 16px;
    }
}

@media (min-width:992px) and (max-width:1199px){
    .wrapper_{
        height: 500px;
    }
}

@media  screen and (min-width:1200px){
    .pos{
        -webkit-box-flex: 0;
          -ms-flex: 0 0 20% !important;
              flex: 0 0 20% !important;
      max-width: 20%;
    }
}


.light-2 {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
    animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: #333333;
    background-image: linear-gradient(to right, #333333 0%, #4b4b4b 20%, #333333 40%, #333333 100%);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

@keyframes placeHolderShimmer {

    0% {
        background-position: -468px 0;
    }

    100% {
        background-position: 868px 0;
    }
}
